@import url('https://fonts.googleapis.com/css?family=Gilda+Display|Playfair+Display|Roboto');


.container-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main-title {
    /* HOW DID THE MAIN ASSET MANAGERS VOTE? */
    font-size: 2em;
    font-max-size: 120%;
    font-family: 'Gilda Display', serif;
    color: #000000;
    letter-spacing: 2px;
}
#subtitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: -1px 0 30px 0;
    color: dimgrey;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.container-graph {
     display: flex;
     flex-direction: column;
     width: 33%;
     align-items: center;
 }
.GraphFundTitle {
    /* BR ; VANG ; STST above graphs*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
}

.container-graph h3{
    align-self: flex-start;
    margin-left: 8%;
}

.container-controls {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}


/*EFFECTS IN SQUARE GRAPH*/
/*#hoverAtCompany {*/
    /*width: 14px;*/
    /*height: 14px;*/
/*}*/

/*BUTTONS TO SET CATEGORIES*/
.button:focus {
    outline: none;
}
.button {
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    min-width: 50px;
    max-width: 200px;
    min-height: 10px;
    max-height: 30px;
    /*display: block;*/
    padding: 0 .5em;
    background: none;
    vertical-align: middle;
    /*position: relative;*/
    z-index: 1;
    letter-spacing: 1px;
    color: #696969;
    font-size: 14px;
    border: 2px solid #c2c2c2;
    cursor: pointer;
}
.button::after {
    content: "";
    background-color: transparent;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0;
    color: #ec7d26;
    z-index: -1;
}
.button:hover {
    border: 2px solid #000000;
    background-color: rgba(212, 212, 212, 0.38);
    color: black;
}


.container-issues {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.issue-text {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}

/*SLIDER*/
.handle {
    fill: orange;
    cursor: pointer;
}

.track, .track-inset, .track-overlay {
    stroke-linecap: square;
    cursor: initial;
}

.selectedSq {
    height: 19px;
    width: 19px;
    stroke-width: 4;
    transform: translate(-2px, -2px);
}
